@font-face {
	font-family: Shrikhand,Roboto;
	src: url("font/shrikhand/Shrikhand-Regular.otf");    
}

@font-face {
    font-family: Roboto;
    src: url("/font/roboto/Roboto-Regular.ttf")
}

html, body{
    font-family: "Roboto";
}
