@font-face {
	font-family: Shrikhand;
	src: url("font/shrikhand/Shrikhand-Regular.otf");    
}

.loader{
    width: 100%;
    height: 100%;    
    background-color: #fff;
    position: fixed;
    z-index: 2;

    animation: loading 4s 1s alternate ease-in-out;
    animation-fill-mode: forwards;

    

    &__text{
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding-top: 22%;

        p{
            font-size: 50px;    
            padding: 20px ;
            width: 0;
            height: 0;
                       
            animation: bounce 0.2s infinite alternate ease-in-out;   
            // animation-iteration-count: 8;
        }
    }
}

@keyframes bounce{
    
    to{
        transform: translate3d(0,50px,0) + scale(2); 
    }
}

@keyframes loading{

    99%{
        z-index: 2;
    }
    
    to{      
        display: none; 
        background-color: transparent;
        z-index: -2;        
        opacity: 0;         
    }
}

.loader p:nth-child(2n+1){
    color:rgb(135,206,250);
    text-shadow: 5px 5px rgba(255,105,180,0.4);
}

.loader p:nth-child(2n+2){
    color: rgb(255,105,180);    
    text-shadow:rgba(135,206,250,0.6) 5px 5px ;
}

.loader p:nth-child(8n+2){
    animation-delay: 0.5s ;
}
.loader p:nth-child(8n+3){
    animation-delay: 1s ;

}
.loader p:nth-child(8n+4){
    animation-delay: 1.5s ;

}
.loader p:nth-child(8n+5){
    animation-delay: 2s ;

}
.loader p:nth-child(8n+6){
    animation-delay: 2.5s ;

}
.loader p:nth-child(8n+7){
    animation-delay: 3s ;

}
.loader p:nth-child(8n+8){
    animation-delay: 3.5s ;

}
