@import 'cards_vars_mixins';
@import 'home_page';
@import 'menus_all';




@media screen and (min-width: 1510px)/*breakpoint Largeur Ipad*/ {
    .numbers{
        position: relative;
        left: -61px;
    }
    .functioning{

        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content:space-evenly;
    
        h2{
            padding-left: 0;
        }
            
        p{
            font-size: 80%;
        }
    }
    .cards{
        &__functioning{                  
            width: 25%;
            margin:0;
            padding-left: 50px;
        }        
        &__restaurants{
            // width: 80%;
            margin:0;
        }
        // &__note{
        //     max-width: ;
        // }
        
    }

    .restaurants{
        h2{
            text-align: start;
            padding-left: 59px;
            margin-top: 50px;
            font-weight: 900;
        }
    }

    .grid__restaurants{
        padding: 0 80px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 30px;
        row-gap: 20px;
    }

    .menu_all{
        display: grid;
        margin-left: 20px;
        grid-template-columns: 30% 30% 30%;
        column-gap: 50px;        

        .menu__entrees{
            grid-column: 1;
            
        }
        .menu__plats{
            grid-column: 2;
            
        }

        .menu__desserts{
            grid-column: 3;
            
        }
    }

    footer{
        > p{
            padding-left: 30px;
            margin-bottom: 30px;

        } 

        > a{
            padding-left: 20px;
        }
      
    }
}

@media screen and (max-width:540px){
    .cards{
        &__restaurants{
            img{
                height: auto;
            }
        }
        &__functioning{
            width: auto;
        }
    }

}

@media screen and (min-width:640px) and (max-width:1510px){
    .functioning{
        display: flex;
        justify-content: center; 
        align-items: center;  
        flex-direction: column; 
        flex-grow: 1;

        gap:35px;
       

        h2{          
            left: 10px;
            top: 40px;
        }          
 
        .cards{
            width: 599px;
            margin:0;
        }
    }    
}
